@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #31353f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

@media screen and (prefers-color-scheme: light) {
  input, button {
    color: #0f0f0f;
    background-color: #ffffff;
  }
}